:root {
    --colors-button-contained-common-text-color: #ffffff;
    --colors-button-contained-common-bg-color: #1d4ed8;
    --colors-button-contained-common-border-color: transparent;
    --colors-button-contained-common-focused-text-color: #ffffff;
    --colors-button-contained-common-focused-bg-color: #1d4ed8;
    --colors-button-contained-common-focused-border-color: transparent;
    --colors-button-contained-common-active-text-color: #ffffff;
    --colors-button-contained-common-active-bg-color: #2563eb;
    --colors-button-contained-common-active-border-color: transparent;
    --colors-button-contained-common-hover-text-color: #ffffff;
    --colors-button-contained-common-hover-bg-color: #2563eb;
    --colors-button-contained-common-hover-border-color: transparent;
    --colors-button-contained-common-disabled-text-color: white;
    --colors-button-contained-common-disabled-bg-color: #5c7ba660;
    --colors-button-contained-common-disabled-border-color: transparent;

    --colors-button-contained-error-text-color: #ffffff;
    --colors-button-contained-error-bg-color: #9c0b1d;
    --colors-button-contained-error-border-color: transparent;
    --colors-button-contained-error-focused-text-color: #ffffff;
    --colors-button-contained-error-focused-bg-color: #9c0b1d;
    --colors-button-contained-error-focused-border-color: transparent;
    --colors-button-contained-error-active-text-color: #ffffff;
    --colors-button-contained-error-active-bg-color: #f41515;
    --colors-button-contained-error-active-border-color: #f41515;
    --colors-button-contained-error-hover-text-color: #ffffff;
    --colors-button-contained-error-hover-bg-color: #f41515;
    --colors-button-contained-error-hover-border-color: #f41515;
    --colors-button-contained-error-disabled-text-color: #ffffff;
    --colors-button-contained-error-disabled-bg-color: var(--colors-delta-300);
    --colors-button-contained-error-disabled-border-color: transparent;

    --colors-button-outlined-common-text-color: #2563eb;
    --colors-button-outlined-common-bg-color: transparent;
    --colors-button-outlined-common-border-color: #1d4ed8;
    --colors-button-outlined-common-focused-text-color: #ffffff;
    --colors-button-outlined-common-focused-bg-color: #2563eb;
    --colors-button-outlined-common-focused-border-color: transparent;
    --colors-button-outlined-common-active-text-color: #ffffff;
    --colors-button-outlined-common-active-bg-color: #c7e2fc;
    --colors-button-outlined-common-active-border-color: #2563eb;
    --colors-button-outlined-common-hover-text-color: #ffffff;
    --colors-button-outlined-common-hover-bg-color: #2563eb;
    --colors-button-outlined-common-hover-border-color: #2563eb;
    --colors-button-outlined-common-disabled-text-color: var(--colors-delta-200);
    --colors-button-outlined-common-disabled-bg-color: transparent;
    --colors-button-outlined-common-disabled-border-color: var(--colors-delta-200);

    --colors-button-outlined-error-text-color: #9c0b1d;
    --colors-button-outlined-error-bg-color: transparent;
    --colors-button-outlined-error-border-color: #9c0b1d;
    --colors-button-outlined-error-focused-text-color: #ffffff;
    --colors-button-outlined-error-focused-bg-color: #f41515;
    --colors-button-outlined-error-focused-border-color: transparent;
    --colors-button-outlined-error-active-text-color: #ffffff;
    --colors-button-outlined-error-active-bg-color: #f41515;
    --colors-button-outlined-error-active-border-color: #f41515;
    --colors-button-outlined-error-hover-text-color: #ffffff;
    --colors-button-outlined-error-hover-bg-color: #f41515;
    --colors-button-outlined-error-hover-border-color: transparent;
    --colors-button-outlined-error-disabled-text-color: var(--colors-delta-300);
    --colors-button-outlined-error-disabled-bg-color: transparent;
    --colors-button-outlined-error-disabled-border-color: var(--colors-delta-300);

    --colors-button-text-common-text-color: var(--colors-cText);
    --colors-button-text-common-bg-color: transparent;
    --colors-button-text-common-border-color: transparent;
    --colors-button-text-common-focused-text-color: #2563eb;
    --colors-button-text-common-focused-bg-color: transparent;
    --colors-button-text-common-focused-border-color: transparent;
    --colors-button-text-common-active-text-color: #2563eb;
    --colors-button-text-common-active-bg-color: #a1cdfb;
    --colors-button-text-common-active-border-color: #a1cdfb;
    --colors-button-text-common-hover-text-color: #1d4ed8;
    --colors-button-text-common-hover-bg-color: transparent;
    --colors-button-text-common-hover-border-color: transparent;
    --colors-button-text-common-disabled-text-color: var(--colors-delta-200);
    --colors-button-text-common-disabled-bg-color: transparent;
    --colors-button-text-common-disabled-border-color: transparent;

    --colors-button-text-error-text-color: #9c0b1d;
    --colors-button-text-error-bg-color: transparent;
    --colors-button-text-error-border-color: transparent;
    --colors-button-text-error-focused-text-color: #f41515;
    --colors-button-text-error-focused-bg-color: transparent;
    --colors-button-text-error-focused-border-color: transparent;
    --colors-button-text-error-active-text-color: #f41515;
    --colors-button-text-error-active-bg-color: transparent;
    --colors-button-text-error-active-border-color: transparent;
    --colors-button-text-error-hover-text-color: #f41515;
    --colors-button-text-error-hover-bg-color: transparent;
    --colors-button-text-error-hover-border-color: transparent;
    --colors-button-text-error-disabled-text-color: var(--colors-delta-300);
    --colors-button-text-error-disabled-bg-color: transparent;
    --colors-button-text-error-disabled-border-color: transparent;
}
