.ant-collapse-expand-icon {
    @apply !text-cText;
}

.ant-segmented-group {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-collapse-borderless > .ant-collapse-item {
    /* border-bottom: 1px solid rgba(63, 63, 63, 0.304); */
    /* @apply border border-b-cText; */
    @apply border border-b-transparent;
}

.form-field-email .ant-col.ant-form-item-label {
    @apply mr-8;
}
 
/* Profile DatePicker */
div.profile-date-picker div.ant-picker-disabled {
    @apply !cursor-default;
}

div.profile-date-picker div.ant-picker-disabled .ant-picker-input > input[disabled] {
    @apply text-gray-700 disabled:!cursor-default;
}

div.profile-date-picker div.ant-picker input {
    @apply !text-sm;
}
/* Profile DatePicker */

.ant-slider-step {
    @apply !rounded-full !bg-blue-300;
}

.ant-btn:disabled {
    @apply cursor-not-allowed bg-gray-300;
}

.ant-collapse-content-box {
    @apply bg-global-2-bg
}

.ant-select-disabled, .ant-picker-disabled {
    @apply !bg-gray-50 [&_*]:!text-gray-400 !rounded-md !text-cText;
}

.ant-notification {
    @apply z-[99999999];
}