@font-face {
    font-family: 'git ';
    src: url('/fonts/cascadia-ttf/CascadiaCode.ttf');
    src: url('/fonts/cascadia-woff2/CascadiaCode.woff2') format('woff'),
        url('/fonts/cascadia-otf/CascadiaCode-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Cascadia Mono';
    src: url('/fonts/cascadia-ttf/CascadiaMono.ttf');
    src: url('/fonts/cascadia-woff2/CascadiaCodePL.woff2') format('woff'),
        url('/fonts/cascadia-otf/CascadiaMono-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Cascadia Mono Italic';
    src: url('/fonts/cascadia-ttf/CascadiaMonoPLItalic.ttf');
    src: url('/fonts/cascadia-woff2/CascadiaMonoItalic.woff2') format('woff'),
        url('/fonts/cascadia-otf/CascadiaMonoPL-Italic.otf') format('opentype');
}
