/* /*
::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb {
    background: white;
    -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: none;
}
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    label {
        @apply !text-cText;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply m-0 p-0 font-vi font-extrabold tracking-wider text-cText;
    }

    a,
    a:focus,
    a:active,
    a:visited {
        @apply text-inherit no-underline;
    }

    li {
        @apply list-none;
    }

    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }

    .allselect {
        -webkit-touch-callout: all; /* iOS Safari */
        -webkit-user-select: all; /* Safari */
        -khtml-user-select: all; /* Konqueror HTML */
        -moz-user-select: all; /* Old versions of Firefox */
        -ms-user-select: all; /* Internet Explorer/Edge */
        user-select: all; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }
}

@layer utilities {
    button {
        @apply animate-opacity border-none bg-transparent outline-none transition-all duration-300 focus:outline-none;
    }

    .border-solid {
        border-style: solid;
    }

    .border-r-solid {
        border-right-style: solid;
    }

    .border-l-solid {
        border-left-style: solid;
    }

    .border-b-solid {
        border-bottom-style: solid;
    }

    .border-t-solid {
        border-top-style: solid;
    }

    ul {
        @apply m-0 p-0;
    }

    .absolute-center {
        @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
    }
}

html,
body {
    @apply flex h-full w-full flex-col overflow-hidden bg-global-bg font-vi text-cText;
}

#root {
    @apply flex w-full flex-auto overflow-hidden;
}

.app,
.app-body {
    @apply flex w-full bg-global-bg;
}

/* .app-body {
    height: calc(100% - var(--top-bar-height));
} */

.module-wrapper {
    @apply relative flex h-full w-full animate-opacity flex-col overflow-auto bg-transparent transition-all duration-300;
}

.login-form {
    @apply !m-0 flex h-[400px] flex-auto flex-col items-center !p-5 !text-cText;
}
