@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb {
    background: white;
    -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply m-0 p-0 font-mono;
    }

    a,
    a:focus,
    a:active,
    a:visited {
        @apply no-underline;
    }

    li {
        @apply list-none;
    }

    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }

    .allselect {
        -webkit-touch-callout: all; /* iOS Safari */
        -webkit-user-select: all; /* Safari */
        -khtml-user-select: all; /* Konqueror HTML */
        -moz-user-select: all; /* Old versions of Firefox */
        -ms-user-select: all; /* Internet Explorer/Edge */
        user-select: all; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }
}

@layer utilities {
    button {
        @apply focus:outline-none;
    }

    .border-solid {
        border-style: solid;
    }

    .border-r-solid {
        border-right-style: solid;
    }

    .border-b-solid {
        border-bottom-style: solid;
    }

    ul {
        @apply m-0 p-0;
    }
}

html,
body {
    @apply flex h-full w-full flex-col overflow-hidden font-sans;
}

#root {
    @apply flex w-full flex-auto overflow-hidden;
}

.app,
.app-body {
    @apply flex w-full bg-gray-200;
}

.app-body {
    @apply flex w-full bg-gray-200;
    height: calc(100% - var(--top-bar-height));
}

.module-wrapper {
    @apply flex w-full flex-col overflow-auto rounded-lg bg-white p-5;
}
