/* /*
::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb {
    background: white;
    -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: none;
}
*/

@tailwind base;
@tailwind components;
@tailwind utilities;
@import './quill.css';
@import './antdRedesign.css';
@import './antd-redesign/select.scss';
@import './antd-redesign/input.scss';

@layer base {
    html,
    body {
        @apply bg-global-bg font-droid text-cText flex h-full w-full flex-col overflow-hidden text-[14px];
    }

    #root {
        @apply flex w-full flex-auto overflow-hidden;
    }

    label {
        @apply text-cText #{!important};
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-droid-bold text-cText m-0 p-0 tracking-wider;
    }

    a,
    a:focus,
    a:active,
    a:visited {
        @apply text-inherit no-underline;
    }

    ul {
        @apply m-0 p-0;
    }

    li {
        @apply list-none;
    }

    button {
        @apply animate-opacity text-cText border-none bg-transparent outline-none transition-all duration-300 focus:outline-none active:outline-none;
    }

    input {
        @apply bg-global-3-bg text-cText focus:outline-none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-background-clip: text;
        -webkit-text-fill-color: #ffffff;
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 20px 20px var(--colors-global-3-bg);
    }
}

@layer utilities {
    .border-solid {
        border-style: solid;
    }

    .border-r-solid {
        border-right-style: solid;
    }

    .border-l-solid {
        border-left-style: solid;
    }

    .border-b-solid {
        border-bottom-style: solid;
    }

    .border-t-solid {
        border-top-style: solid;
    }

    .absolute-center {
        @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
    }

    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }

    .allselect {
        -webkit-touch-callout: all; /* iOS Safari */
        -webkit-user-select: all; /* Safari */
        -khtml-user-select: all; /* Konqueror HTML */
        -moz-user-select: all; /* Old versions of Firefox */
        -ms-user-select: all; /* Internet Explorer/Edge */
        user-select: all; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }

    .overflow-wrap-anywhere {
        word-break: break-word !important; /* Chrome, Safari */
        overflow-wrap: anywhere !important; /* Firefox */
    }
}

.login-form {
    @apply text-cText m-0 flex h-[400px] flex-auto flex-col items-center p-5 #{!important};
}

//    @apply bg-gray-900/50 shadow-xl;
