// ::-webkit-scrollbar {
//     width: 0px;
// }
// ::-webkit-scrollbar-track {
//     -webkit-box-shadow: none;
// }
// ::-webkit-scrollbar-thumb {
//     background: white;
//     -webkit-box-shadow: none;
// }
// ::-webkit-scrollbar-thumb:window-inactive {
//     background: none;
// }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--colors-cText);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px var(--colors-global-3-bg);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import './react-menu-theme-overwrite.scss';
@import './date-picker.css';
@import './antdRedesign.css';
@import './antd-redesign/select.scss';
@import './antd-redesign/input.scss';
@import '../components/buttons/StyledButtonLightVariables.scss';
@import 'react-tooltip/dist/react-tooltip.css';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import './draft.css';

@layer base {
    html,
    body {
        @apply scrollbar-thumb-blue-500  scrollbar-track-global-bg scrollbar-thin bg-global-bg font-inter text-cText flex h-full w-full flex-col overflow-hidden text-base;
    }

    pre {
        @apply m-0 p-0;
    }

    blockquote {
        @apply italic border-l-solid border-l-blue-500/50 font-kzen;
    }

    #root {
        @apply scrollbar-thumb-blue-500 scrollbar-track-global-bg scrollbar-thin flex w-full flex-auto overflow-hidden;
    }

    label {
        @apply text-cText #{!important};
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-inter text-cText m-0 p-0 tracking-wider opacity-70 duration-300;
    }

    a,
    a:focus,
    a:active,
    a:visited {
        @apply text-inherit no-underline;
    }

    ul {
        @apply m-0 p-0;
    }

    li {
        @apply list-none;
    }

    button {
        @apply animate-opacity text-cText border-none bg-transparent outline-none transition-all duration-300 focus:outline-none active:outline-none;
    }

    input {
        @apply text-cText border-none bg-transparent focus:outline-none focus-visible:outline-none;
    }

    div {
        @apply focus-visible:outline-none;
    }
}

@layer utilities {
    .border-solid {
        border-style: solid;
    }

    .border-r-solid {
        border-right-style: solid;
    }

    .border-l-solid {
        border-left-style: solid;
    }

    .border-b-solid {
        border-bottom-style: solid;
    }

    .border-b-dashed {
        border-bottom-style: dashed;
    }

    .border-t-solid {
        border-top-style: solid;
    }

    .absolute-center {
        @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
    }

    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }

    .allselect {
        -webkit-touch-callout: all; /* iOS Safari */
        -webkit-user-select: all; /* Safari */
        -khtml-user-select: all; /* Konqueror HTML */
        -moz-user-select: all; /* Old versions of Firefox */
        -ms-user-select: all; /* Internet Explorer/Edge */
        user-select: all; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }

    .overflow-wrap-anywhere {
        word-break: break-word !important; /* Chrome, Safari */
        overflow-wrap: anywhere !important; /* Firefox */
    }

    .overflow-scroll::-webkit-scrollbar {
        display: none;
    }
}

.login-form {
    @apply text-cText m-0 flex h-[400px] flex-auto flex-col items-center p-5 #{!important};
}

//
.ant-notification-notice-wrapper {
    @apply bg-transparent  #{!important};
}
.ant-notification-notice {
    @apply bg-global-bg-regal text-cText [&_div>*]:text-cText rounded-md;
}

.ant-notification-notice-close-x {
    @apply text-cText opacity-70;
}

.ant-message-notice-content {
    @apply bg-global-bg-regal  #{!important};
}
.ant-message-custom-content {
    @apply flex h-full items-center justify-center gap-2;
}

.sexy-scroll {
    @apply scrollbar-thumb-blue-500  scrollbar-track-global-bg scrollbar-thin;
}
