.x-menu-dropdown {
    @apply mx-0 py-2 flex flex-col rounded-md px-0 backdrop-blur-sm;
    background-color: #fffafa;
    box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.25);
}

.x-menu__item {
    @apply flex min-h-[20px] cursor-pointer items-center gap-2 p-1.5 duration-300 hover:bg-blue-200/20 disabled:pointer-events-none;
}

.x-dropdown-menu__header {
    @apply p-2;
    color: #888;
    text-transform: uppercase;
}

// night theme
[dark='true'] {
    .x-menu-dropdown {
        background-color: var(--colors-global-bg-plasma);
        box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.25);
        @apply rounded-lg border border-solid border-blue-900/40 text-white/50 backdrop-blur-sm #{!important};
    }

    .x-menu__item {
        @apply hover:bg-slate-900/50;
    }
}
