:root {
    --top-bar-height: 45px;

    //colors
    --darkblue: #10141d;
    --skyblue: #0ea5e9;
    --skyblue-600: #0284c7;

    --spaceblue: #1d4ed8;
    //
    --yellow400: #facc15;
    //
    --amber400: #fbbf24;
    --amber500: #f59e0b;
    //
    --indigo500: #6366f1;
    --indigo600: #4f46e5;

    --green600: #16a34a;
}
