@import url(./normalize.css);

@font-face {
    font-family: 'Allura';
    src: url(./fonts/Allura-Regular.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(./fonts/RobotoSlab-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'Atkinson Regular';
    src: url(./fonts/atkinson/AtkinsonHyperlegible-Regular.ttf);
}

.authorization-page {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    width: 100%;
    flex-direction: column;
    background-image: url('./img/kzen-login-background.jpg');
    background-size: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--colors-cText);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px var(--colors-global-3-bg);
}
