:root {
    --xinput-border-width: 25px;
}

.xinput-wrapper {
    @apply text-cText relative h-10 w-[calc(100%-2px)] font-inter  rounded-md border border-solid border-blue-900
    text-base  hover:border-blue-600;
}

.xinput-wrapper-error {
    @apply border-red-500 hover:border-red-500 focus:border-red-500/20;
}

.xinput-wrapper-focused {
    @apply border-blue-600;
}

.xinput-wrapper-focused.xinput-wrapper-error {
    @apply border-red-500 hover:border-red-500 focus:border-red-500/20;
}

.xinput-wrapper.xinput-wrapper-readonly {
    @apply cursor-default border-transparent bg-transparent hover:border-transparent;

    & > div {
        @apply p-0;
    }
}

.xinput {
    @apply text-cText placeholder:text-slate-500/50 m-0 min-h-[40px] w-[calc(100%-24px)] rounded-md border-none px-3 py-0  disabled:bg-transparent
    disabled:bg-opacity-10  disabled:opacity-70;
}

.xinput-start-icon {
    border-left: var(--xinput-border-width) solid transparent #{!important};
    width: calc(100% - 24px - var(--xinput-border-width));
}
.xinput-end-icon {
    // border-right: var(--xinput-border-width) solid transparent;
    // width: calc(100% - 24px - var(--xinput-border-width));
}

.xinput-start-end-icon {
    width: calc(100% - 24px - var(--xinput-border-width) - var(--xinput-border-width));
}

// .xinput-end-icon {
//     @apply pr-8;
// }
